---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Menu from '../components/Menu.astro';
import Presentation from '../components/Presentation.astro';
import Projects from '../components/Projects.astro';
import Technologies from '../components/Technologies.astro';
import ContactMe from '../components/ContactMe.astro';
---

<Layout title="Andres portfolio.">
	<Menu/>
	<main>
		<Presentation/>
		<Projects/>
    <Technologies/>
    <ContactMe/>
	</main>
</Layout>

<style>
	main {
		margin-top:100px;
		width: 100%;
		font-size: 20px;
	}
</style>
