<header>
	<div class="main-menu-header">
		<nav class="main-menu">
			<div>
				<img src="/img/andrewLogo.png" alt="" />
			</div>
			<ul>
				<li><a href="#about">Me</a></li>
				<li><a href="#projects">Projects</a></li>
				<li><a href="#technologies">Technologies</a></li>
				<li><a href="#contactme">Contact</a></li>
			</ul>
		</nav>

		<input type="checkbox" id="hamburger-input" class="burger-shower" />
		<label id="hamburger-menu" for="hamburger-input">
			<nav id="sidebar-menu">
				<div class="ex">
					<div/>
					<div/>
				</div>
				<ul>
					<li><a href="#about">Me</a></li>
					<li><a href="#projects">Projects</a></li>
					<li><a href="#technologies">Technologies</a></li>
					<li><a href="#contactme">Contact</a></li>
				</ul>
			</nav>
		</label>
	</div>
</header>

<style>
	.main-menu-header {
		display: flex;
		position: fixed;
		width: 100%;
		top: 0;
		background: white;
		margin: 0px;
		padding: 0px;
		z-index: 2;
	}
	.main-menu {
		display: flex;
		position: fixed;
		height: 100px;
		width: 100%;
		top: 0;
		background: transparent;
		margin: 0px;
		padding: 0px;
		z-index: 2;
	}
	.main-menu img {
		padding-right: 4em;
		height: 100px;
		left: 0;
		background: #fff;
	}
	.main-menu ul {
		width: 100%;
		height: 100%;
		margin: 0px auto;
		padding: 0px;
		display: flex;
		justify-content: space-around;
		align-items: center;
		z-index: 2;
	}

	.main-menu li {
		list-style-type: none;
		display: flex;
		font-size: 2rem;
		height: 100%;
		width: 100%;
		justify-content: center;
		align-items: center;
		transition: 0.3s;
		background-color: white;
	}

	.main-menu li:hover {
		cursor: pointer;
		background-color:#262626;
	}

	.main-menu li:hover a {
		color: #0083C3;
		font-size: 1.5rem;
		text-decoration: none;
	}

	.main-menu a {
		color: black;
		font-size: 1.5rem;
		text-decoration: none;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
	}

	.mobile-menu {
		position: fixed;
		top: 0;
		display: none;
		background-color: antiquewhite;
		width: 100%;
	}

	.ex {
		margin-top: 2em;
	}

	.ex > div {
		background: white;
		height: 2px;
		width: 40px;
		margin: -1px 0;
	}

	.ex div:first-child{
		transform: rotate(45deg);
	}
	.ex div:last-child{
		transform: rotate(-45deg);
	}

	#hamburger-input {
		display: none;
	}

	#hamburger-menu {
		position: relative;
		width: 40px;
		height: 40px;
		display: none;
		border: none;
		padding: 0px;
		margin: 1em;
		font-family: "Cabin", Sans-serif;
		background: linear-gradient(
			to bottom,
			black,
			black 15%,
			white 15%,
			white 30%,
			black 30%,
			black 45%,
			white 45%,
			white 60%,
			black 60%,
			black 75%,
			white 75%,
			white 90%,
			transparent 90%,
			transparent 100%
		);
	}

	#hamburger-menu #sidebar-menu {
		visibility: hidden;
		position: fixed;
		top: 0;
		left: -250px;
		width: 200px;
		height: 100%;
		background-color: #171717;
		transition: 0.3s;
		padding: 0px 10px;
		box-sizing: border-box;
	}

	#hamburger-menu h3 {
		color: #b9faf8;
		font-size: 2.2rem;
	}

	#hamburger-menu ul {
		padding-left: 0px;
	}

	#hamburger-menu li {
		list-style-type: none;
		line-height: 3rem;
		opacity: 1;
	}

	#hamburger-menu a {
		color: #b9faf8;
		font-size: 1.3rem;
		text-decoration: none;
	}

	#hamburger-menu a:hover {
		text-decoration: underline;
	}

	#hamburger-input:checked + #hamburger-menu #sidebar-menu{
		visibility: visible;
		left: 0;
	}
	#hamburger-input:checked ~ .overlay {
		visibility: visible;
		opacity: 0.9;
	}

	@media screen and (max-width: 750px) {
		.main-menu {
			display: none;
		}
		#hamburger-menu {
			display: inline;
		}
		.mobile-menu {
			display: inline;
		}
	}
</style>
