---
import Card from "./Card.astro";

import HTML from "./icons/HTML.astro";
import CSS from "./icons/CSS.astro";
import React from "./icons/React.astro";
import Next from "./icons/Next.astro";
import Node from "./icons/Node.astro";
import Sass from "./icons/Sass.astro";
import JS from "./icons/JS.astro";
import Express from "./icons/Express.astro";
import Mongo from "./icons/Mongo.astro";
import Threejs from "./icons/Threejs.astro";
---

<section id="projects">
  <h2>My Projects</h2>
  <div class="projectsGalery">
    <Card
      title="Proyecto Olimpo"
      href="https://github.com/andrew921as/ProyectoO"
      description="In this project, a website was created with the objective of teaching more about Greek culture. It incorporates elements of gamification to engage people, especially young individuals, and encourage them to learn more about this rich cultural heritage"
      image="/img/OlimpoP.png"
    >
      <HTML />
      <CSS />
      <React />
      <Next />
			<Express/>
			<Mongo/>
			<Threejs/>
    </Card>

    <Card
      title="Projecto Pacman"
      href="https://github.com/andrew921as/Mr.pacman"
      description="This is a project that has the pourpose to implement functional programing paradigm in order to create a pacman game, it was used with a learning objective"
			image="/img/ProyectoPacman.png"
		>
      <HTML />
      <CSS />
			<JS/>
		</Card>

    <Card
      title="Karen's pizza"
      href="https://www.karenspizza.com"
      description="The current karenspizza webpage using React avoiding to use a CMS in order to reduce deploiment costs and dependencies fails"
			image="/img/KarensPizza.png"
    >
			<HTML />
			<Sass />
			<React />

		</Card>

    <Card
      title="AcquaSanta Hotel"
      href="https://www.acquasantahotel.com"
      description="The current webpage of the Acquasanta hotel in Cali using Html and JS avoiding to use a CMS in order to reduce deploiment costs and dependencies fails"
			image="/img/AcquaSanta.png"
		>
			<HTML />
			<CSS/>
			<JS />
		</Card>
  </div>
</section>

<style>
  #projects {
    background-color: #f9f9f9;
    padding: 20px;
    text-align: center;
    margin-top: 80vh;
    width: 80%;
    margin-inline: auto;
    color: var(--accent-gray);
  }
  .projectsGalery {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 50px;
  }
</style>
